<!DOCTYPE html>
<html lang="es">
<head>
  <link href="../styles/creat-account.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear una cuenta</title>
  
</head>
<body>
  <main>
    <img src="../imgs/Logo-tango-interiors-3.png">
  </main>

  <form method="POST" action="crear-cuenta">
    <h1>Crear una cuenta</h1>
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" name="apellido" required>

    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" minlength="8" required>

    <input type="submit" value="creat">
  </form>

</body>
</html>
