<html>
    <style>
        ul,li{
            font-size: 50px;
        }
    </style>
    <body>
        <h1>Productos registrados en el almacen</h1>
        <ul>
            <% for (let i=0; i<usuarios.length ;i++) { %>
                <li>
                    <a href="search-products.ejs"><%= usuarios[i].name %></a>
                </li>
            <% } %>
        </ul>
        <h3>Search products</h3>
        <form action="search-products.ejs" method="get">
            <label for="Search">Search: </label>
            <input type="text" name="search-query">
            <input type="submit" value="search">
        </form>
    </body>
</html>