<!DOCTYPE html>
<html>
<head>
	<title>Almacenamiento de stock de productos</title>
	<link href="/styles/home.css" rel="stylesheet" >
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<header>
		<h1>Almacenamiento de stock de productos</h1>
	</header>
	<nav>
		<ul>
			<li><a href="home.ejs">Inicio</a></li>
			<li><a href="productos.ejs">Productos</a></li>
			<li><a href="contacto.ejs">Contacto</a></li>
		</ul>
	</nav>
	<main>
		
		<section>	
			<img src="/imgs/Logo-tango-interiors-3.png" width="100px" height="120%">
			
			<h2>Producto 1</h2>
			<p>Descripción del producto 1.</p>
			<button type="button" class="boton-comprar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
				comprar 
			</button>
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select> 
			
		</section>
	
		<section>
			<img src="/imgs/Logo-tango-interiors-3.png" width="100px" height="120%">

			<h2>Producto 2</h2>
			<p>Descripción del producto 2.</p>
			<button type="button" class="boton-comprar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
				comprar 
			</button>
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</section>
		<section>
			<img src="/imgs/Logo-tango-interiors-3.png" width="100px" height="120%">

			<h2>Producto 3</h2>
			<p>Descripción del producto 3.</p>
			<button type="button" class="boton-comprar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
				comprar 
			</button>
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</section>
		<section>
			<img src="/imgs/Logo-tango-interiors-3.png" width="100px" height="120%">

			<h2>Producto 4</h2>
			<p>Descripción del producto 4.</p>
			<button type="button" class="boton-comprar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
				comprar 
			</button>
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</section>
		<section>
			<img src="/imgs/Logo-tango-interiors-3.png" width="100px" height="120%">

			<h2>Producto 5</h2>
			<p>Descripción del producto 5.</p>
			<button type="button" class="boton-comprar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
				comprar 
			</button>
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</section>
		<section>
						<img src="/imgs/Logo-tango-interiors-3.png" width="100px" height="120%">

			<h2>Producto 6</h2>
			<p>Descripción del producto 6.</p>
			<button type="button" class="boton-comprar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
				comprar 
			</button>
			<select class="form-select" aria-label="Default select example">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</section>
		
	</main>
</body>
</html>
