<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar sesión</title>
    <link href="../styles/loggin.css" rel="stylesheet" type="text/css">


    <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  </head>
  <body>
    <main>
        <img src="../imgs/Logo-tango-interiors-3.png">
    </main>
    
    <form action="/login" method="post">
      <h1>Loggin</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br><input type="submit" value="Sign up"> <br> <br> <a href="creat-account.html"  target="_blank">Do you have account?</a> <br><br><br> <a href="recuperar-password.html"  target="_blank">recupera tu password</a> 
    </form>
    

  </body>
</html>
