body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 1.2rem;
}
nav ul li a:hover {
    background-color: #666;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
section {
    background-color: #eee;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section h2 {
    font-size: 1.5rem;
    margin-top: 0;
}
section p {
    font-size: 1.2rem;
    margin: 0;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.boton-comprar{
    background-color: red;
    color: white;
    height: 20%;
}
.form-select{
    background-color: red;
    color: white;
    height: 20%;
}
.imagen-card{
    width: 20%;
    height: 20%;
}